@{
    ViewData["Title"] = "Imagens no Boostrap";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <button class="btn btn-outline-danger-primary">teste 1</button>
    <button class="btn btn-lg btn-success">teste 2</button>
    <hr class="mt-3" />

    <img class="img-thumbnail" src="~/img/rodrigo.jpg" width="200" height="200" />
    <hr class="mt-3" />
    <img class="img-fluid" src="~/img/transferir.jpg" width="200" height="200" />
    <hr class="mt-3" />

    <img class="img-fluid rounded-circle" src="~/img/rodrigo.jpg" width="200" height="200" />
    <hr class="mt3" />
</div>